{% extends 'social/base.html' %}
{% load bootstrap4 i18n staticfiles %}
{% block content %}


<div class="row mt-4">
    <div class=" col-md-6 text-white">
        <br>
        <div class="content-section special-color-dark  border-0 text-white">
            <h3 class="text-white">WELCOME</h3>
            <p class='text-white'>What is Rise Against Player.
                <ul class="list-group">

                    <li class="list-group-item list-group-item-light">Provide Recommendation for Game Enthuasist</li>
                    <li class="list-group-item list-group-item-light">Deliver the latest game details from Steam</li>
                    <li class="list-group-item list-group-item-light">Blog for Gaming Network</li>
                    <li class="list-group-item list-group-item-light">Hosted web application</li>
                </ul>
            </p>
        </div>
    </div>

    <br>
    <div class="col-md-3  mt-4">
        <a class="text-white col-md-12 btn btn-elegan" href="{% url 'gamelist' %}" >All <i class="far fa-eye"></i></a>
    {% for genre in genres %}
            <a href="{% url 'games-by-genre' genre.id %}" class="text-white col-md-12 btn btn-elegan">{{ genre.name }} <i class="far fa-eye"></i></a>
    {% endfor %}
    </div>
    {% for game in all_games_with_genre %}

    

    <div class="col-md-3 h-25 ">
        <br>
        <div class="card testimonial-card">

            <!-- Background color -->
            <div class="card-up indigo lighten-1"></div>

            <!-- Avatar -->

            <div class="view overlay">
                <img class="card-img-top" src="{{ game.image.url}}" alt="Card image cap" data-toggle="popover-hover">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>


            <!-- Content -->
            <div class="card-body blue-gradient white-text text-muted ">
                <!-- Name -->
                <h6 class="card-title text-right white-text">RM {{ game.price }}</h6>
                <hr>
                <h4 class="card-title white-text">{{ game.gametitle }}</h4>
                <br>
                {{ game.tag }}
                Genre: {{ game.genre }}
                <br>
                Developer: {{ game.developer }}
                <br>
                <!--
                Tags:
                {% for tag in steam.tags.all %}
                     {{ tag }},
                {% endfor %}
                -->
                <br>

                <h6 class="card-title text-right white-text">{{ game.rating }}/10 <i class="fas fa-star"></i></h6>




            </div>

        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}