{% extends "social/base2.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class=" content-section border border-dark rounded-lg">
    <h2 data-splitting class="headline headline--fade h2">Player Joining</h2>
    <div class="border-top pt-3">
        <form method="POST">

            {% csrf_token %}
            <fieldset class="form-group">

                {{ form|crispy }}

            </fieldset>
            <div class="form-group">
                <button class="btn btn-info" type="submit">Login</button>
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Need an account <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
        </small>
    </div>

</div>

{% endblock content %}