{% extends "social/normalbase.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="content-section special-color-dark border-0 text-white">
  <div class="media">
    <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">

    <div class="media-body">
      <h2 class="account-heading h1 text-white">{{ user.username }}</h2>
      <p class="text-secondary text-white" >{{ user.email }}</p>
    </div>
  </div>
  <!-- FORM HERE with 2 field profile and user , enctype to save the image to the backend-->
  
  <form method="POST" enctype="multipart/form-data">

    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">
        Player Info
      </legend>
      {{ u_form|crispy }}
      {{ p_form }}
    </fieldset>
    <div class="form-group">
      <br>
      <button class="btn btn-success" type="submit">Update</button>
    </div>
  </form>
</div>

<!--Section: Testimonials v.1-->
<section class="section pb-3 text-center">

  <!--Section heading-->
  <h1 class="section-heading h1 pt-4">Testimonials</h1>
  <!--Section description-->
  <p class="section-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
    numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur
    accusamus veniam.</p>

  <div class="row">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">

      <!--Card-->
      <div class="card testimonial-card">

        <!--Background color-->
        <div class="card-up teal lighten-2">
        </div>

        <!--Avatar-->
        <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(27).jpg"
            alt="avatar mx-auto white" class="rounded-circle img-fluid">
        </div>

        <div class="card-body">
          <!--Name-->
          <h4 class="card-title mt-1">John Doe</h4>
          <hr>
          <!--Quotation-->
          <p><i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
            adipisci.</p>
        </div>

      </div>
      <!--Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">

      <!--Card-->
      <div class="card testimonial-card">

        <!--Background color-->
        <div class="card-up blue lighten-2">
        </div>

        <!--Avatar-->
        <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg"
            alt="avatar mx-auto white" class="rounded-circle img-fluid">
        </div>

        <div class="card-body">
          <!--Name-->
          <h4 class="card-title mt-1">Anna Aston</h4>
          <hr>
          <!--Quotation-->
          <p><i class="fas fa-quote-left"></i> Neque cupiditate assumenda in maiores repudiandae mollitia
            architecto.</p>
        </div>

      </div>
      <!--Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">

      <!--Card-->
      <div class="card testimonial-card">

        <!--Background color-->
        <div class="card-up deep-purple lighten-2"></div>

        <!--Avatar-->
        <div class="avatar mx-auto white"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg"
            alt="avatar mx-auto white" class="rounded-circle img-fluid">
        </div>

        <div class="card-body">
          <!--Name-->
          <h4 class="card-title mt-1">Maria Kate</h4>
          <hr>
          <!--Quotation-->
          <p><i class="fas fa-quote-left"></i> Delectus impedit saepe officiis ab aliquam repellat, rem totam
            unde ducimus.</p>
        </div>

      </div>
      <!--Card-->

    </div>
    <!--Grid column-->

  </div>

</section>
<!--Section: Testimonials v.1-->
{% endblock content %}