{% extends "social/base.html" %}

{% block content %}

<!-- Card -->




<hr>
<h3 class="text-white">Deep Dive</h3>
<p class="text-white">some items based on user preferences</p>
<!--<hr style="border: 0.5px solid white;">-->

<div class="row ">
        <div class="col-md-3 ">
        <button class="btn btn-primary" type="submit"></button>
        <button class="btn btn-primary" type="submit"></button>
        <button class="btn btn-primary" type="submit"></button>
        <br>
        
    </div>

    <br>
    {% for steam in steams %}
    
    <div class="col-md-3 ">
            
        <br>
        <div class="card testimonial-card">

            <!-- Background color -->
            <div class="card-up indigo lighten-1"></div>

            <!-- Avatar -->

            <div class="view overlay">
                <img class="card-img-top" src="{{ steam.image.url}}" alt="Card image cap" data-toggle="popover-hover">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>


            <!-- Content -->
            <div class="card-body blue-gradient white-text text-muted ">
                <!-- Name -->
                <h6 class="card-title text-right white-text">RM {{ steam.price }}</h6>
                <hr>
                <h4 class="card-title white-text">{{ steam.gametitle }}</h4>
                <br>
                {{ steam.tag }}
                Genre: {{ steam.genre }}
                <br>
                Developer: {{ steam.developer }}
                <br>
                <!--
                Tags:
                {% for tag in steam.tags.all %}
                     {{ tag }},
                {% endfor %}
                -->
                <br>
                
                <h6 class="card-title text-right white-text">{{ steam.rating }} <i class="fas fa-star"></i></h6>
                <a href="#!" class="white-text d-flex justify-content-end ">
                    <h5>Read more <i class="fas fa-angle-double-right"></i></h5>
                </a>



            </div>

        </div>
    </div>
    {% endfor %}
</div>


<!-- Card -->
<script>
$('[data-toggle="popover-hover"]').popover({
  html: true,
  trigger: 'hover',
  placement: 'bottom',
  content: function () { return '<img src="' + $(this).data('img') + '" />'; }
});



</script>







{% endblock content %}