{% extends "social/base.html" %}

{% block content %}

<!-- Card -->



<!--<hr style="border: 0.5px solid white;">-->

<div class="row mt-4">
    <div class=" col-md-4 text-white">
        <br>
        <div class="content-section special-color-dark  border-0 text-white">
            <h3 class="text-white">WELCOME</h3>
            <p class='text-white'>What is Rise Against Player.
                <ul class="list-group">

                    <li class="list-group-item list-group-item-light">Provide Recommendation for Game Enthuasist</li>
                    <li class="list-group-item list-group-item-light">Deliver the latest game details from Steam</li>
                    <li class="list-group-item list-group-item-light">Blog for Gaming Network</li>
                    <li class="list-group-item list-group-item-light">Hosted web application</li>
                </ul>
            </p>
        </div>
    </div>

    <br>

    <div class="col-md-2  mt-4">
        <a class="text-white col-md-12 btn btn-elegan" href="{% url 'gamelist' %}" >All <i class="far fa-eye"></i></a>
    {% for genre in genres %}
            <a href="{% url 'games-by-genre' genre.id %}" class="text-white col-md-12 btn btn-elegan">{{ genre.name }} <i class="far fa-eye"></i></a>
    {% endfor %}
    </div>

    {% for steam in steams %}

    

    <div class="col-md-3 h-25 ">
        <br>
        <div class="card testimonial-card">

            <!-- Background color -->
            <div class="card-up indigo lighten-1"></div>

            <!-- Avatar -->

            <div class="view overlay">
                <img class="card-img-top" src="{{ steam.image.url}}" alt="Card image cap" data-toggle="popover-hover">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>


            <!-- Content -->
            <div class="card-body blue-gradient white-text text-muted ">
                <!-- Name -->
                <h6 class="card-title text-right white-text">RM {{ steam.price }}</h6>
                <hr>
                <h4 class="card-title white-text">{{ steam.gametitle }}</h4>
                <br>
                {{ steam.tag }}
                Genre: {{ steam.genre }}
                <br>
                Developer: {{ steam.developer }}
                <br>
                <!--
                Tags:
                {% for tag in steam.tags.all %}
                     {{ tag }},
                {% endfor %}
                -->
                <br>

                <h6 class="card-title text-right white-text">{{ steam.rating }}/10 <i class="fas fa-star"></i></h6>




            </div>

        </div>
    </div>
    {% endfor %}
</div>


{% endblock content %}